<div class="d-flex h-100">
  <div class="row align-self-center mx-auto">
    <form class="mx-5 login-form">
      <h1 class="h3 mb-3 font-weight-normal text-center">Login</h1>
      <input type="text" id="username" class="form-control" placeholder="Username">
      <input type="password" id="password" class="form-control" placeholder="Password">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p>Don't have an account yet? <a href='/signup'>Sign Up Here</a></p>
    </form>
  </div>
</div>
<script src='/js/login.js'></script>