<h1>New Spot</h1>
<div id="map" style="width:50%;height:50%;"></div>
<form class='tag-form'>
    <label for='title'>Title</label><br />
    <input type='text' name='title' id='title' /><br />
    <label for='latitude'>Latitude</label><br />
    <input type='number' name='latitude' id='latitude' step="any" /><br />
    <label for='longitude'>Longitude</label><br />
    <input type='number' name='longitude' id='longitude' step="any" /><br />
    <label for='desc'>Description</label><br />
    <input type='text' name='desc' id='desc' /><br />
    <label for="tags">tags</label><br />
    <input type='tags' name='tags' id='tags' /><br />
    <button class='btn' type='save' id='saveBtn'>Save</button>
</form>